@tailwind base;
@tailwind components;
@tailwind utilities;

.h_16 {
  @apply h-16;
}

.container {
  @apply max-w-[82rem] m-auto px-6;
}

section {
  @apply py-10 overflow-hidden;
}

h2 {
  @apply text-4xl font-bold text-default-text-col
}

.f {
  background-image: url("../images/about/shape-2.png");
}

/* About Section*/
main {
  background-image: url("../images/about/shape-1.png"),
    url("./images/about/about-bg.jpg"), url("./images/about/shape-2.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
