@tailwind base;
@tailwind components;
@tailwind utilities;

.h_16 {
  @apply h-16;
}

.container {
  @apply max-w-[82rem] m-auto px-10 transition-all duration-300;
}

section {
  @apply py-16 overflow-hidden;
}

h1,
h2,
h3,
h4 {
  @apply font-bold font-spartan;
}

h2 {
  @apply xs:text-3xl sm:text-4xl text-default-text-col;
}

h1,
h2,
p {
  @apply leading-10;
}

/* About Section*/
/* main {
  background-image: url("../images/about/shape-1.png"),
    url("../images/about/about-bg.jpg"), url("../images/about/shape-2.png");
  background-position: ;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding: 15px;
} */

.m {
  background-image: url("../images/about/about-1.png");
}

/* .before_shape {
  left: 0;
  width: 100%;
  height: 143px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 75% 25%;
} */

/* Team Section */

.member:hover .hover_img {
  @apply bg-slate-900/50;
}
.member:hover .icons {
  @apply scale-100;
}

/* Footer Section */
/* footer {
  @apply bg-default-footer-bg h-screen
} */
/* .footer_curbe_bg {
  background-image: url('./images/footer/footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100vw;
} */

.footer_curbe_bg img {
  width: 150000px;
}

.cart_bg {
  position: absolute;
  top: 8rem;
  left: -4rem;
  width: 30rem;
  height: 30rem;
  background-image: url("../images/Pricing/pricing-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cart animation ***************************************************/
.cart_large {
  animation-name: swapLarge;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

@keyframes swapLarge {
  0% {
    transform: scale(0.7);
    visibility: visible;
  }
  100% {
    transform: scale(1);
  }
}

.cart_small {
  animation-name: swapSsmall;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

@keyframes swapSsmall {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  100% {
    transform: scale(0.7);
  }
}
